.swiper {
    margin-top: 150px;
    min-width: 90vw;
    min-height: 33vh;

    .swiper-wrapper {
        min-width: 90%;
        min-height: 33%;

        .swiper-slide {
            width: 33vw;
            height: 250px;
            filter: grayscale(100%);
        }
    }
}