@keyframes opening {
    100% {
        background-color: white;
    }
}

@keyframes curtain-right {
    25% {
        border-radius: 0 0 0 13%;
    }

    50% {
        border-radius: 7px 0 0 26%;
    }

    75% {
        border-radius: 14px 0 0 60%
    }

    100% {
        border-radius: 20px 0 0 99%;
    }
}

@keyframes curtain-left {
    25% {
        border-radius: 0 0 13% 0;
    }

    50% {
        border-radius: 0 7px 26% 0;
    }

    75% {
        border-radius: 0 14px 60% 0;
    }

    100% {
        border-radius: 0 20px 99% 0;
    }
}